body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, #0eac3e, #00c6ae, #4cd7f1, #c3e3ff, #f9f9f9);
}

form {
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

#center {
    text-align: center;
}

#tipo {
    max-width: 100%; /* Ajustar el ancho del select al 100% */
    margin: 0 auto;
    width: 15vh;
    text-align: center;
}

input {
    margin-top: 10px;
    width: 100%; /* Ajustar el ancho de los campos de texto al 100% */
}

input[type="text"] {
    border: 0px solid #000;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:10px;
}

select {
    border: 0px solid #000;
    border-radius: 20px;
    height: 40px;
    width: 100%;
}

#rmb {
    margin-top: 10px;
    width: fit-content;
    margin-bottom:20px;
}

#hora {
    margin-top: 10px;
    width: 15vh;
    text-align: center;
}

input[type="submit"] {
    background-color: #00c6ae;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    form {
        padding: 10px; /* Ajustar el espacio interior en pantallas pequeñas */
    }
}